In [2]:
import sys
import os
import pandas as pd
import numpy as np
from utils.mining_data_tb import mineria_pacientes_parcial

ModuleNotFoundError: No module named 'utils'

In [26]:
pacientes_lung = pd.read_csv("../data/LUNG_PATIENT_DATA.tsv", sep='\t')
pacientes_pancreas= pd.read_csv("../data/pancreas_PATIENT_DATA_oncoprint.tsv", sep='\t')

In [27]:
pacientes_pancreas_clean = mineria_pacientes_parcial(pacientes_pancreas)
pacientes_pancreas_clean

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-IB-7886,Male,80,4.0437913009,Not Hispanic Or Latino,41
TCGA-FB-AAPY,Male,71,34.81605681,Not Hispanic Or Latino,32
TCGA-HZ-7925,Male,66,11.966992142999999,Not Hispanic Or Latino,20
TCGA-IB-7889,Female,85,11.572475918,Not Hispanic Or Latino,38
TCGA-FB-AAPQ,Male,65,37.150277805,Not Hispanic Or Latino,36
...,...,...,...,...,...
TCGA-F2-7276,Male,64,7.1012920406,Not Hispanic Or Latino,0
TCGA-HZ-7923,Male,65,10.323174541,Not Hispanic Or Latino,0
TCGA-HZ-8519,Male,73,14.925863825999999,Not Hispanic Or Latino,0
TCGA-IB-AAUT,Male,65,9.4355130355,Not Hispanic Or Latino,0
TCGA-US-A77J,Female,81,18.673767959,Not Hispanic Or Latino,0

In [28]:
pacientes_lung_clean = mineria_pacientes_parcial(pacientes_lung)
pacientes_lung_clean

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-55-8094,Male,51,17.786106454000002,Not Hispanic Or Latino,395
TCGA-99-8033,Female,74,21.566886938000003,Not Hispanic Or Latino,168
TCGA-69-7978,Male,59,4.405431173399999,Not Hispanic Or Latino,546
TCGA-86-A4JF,Male,56,14.334089489,Not Hispanic Or Latino,1228
TCGA-44-8117,Female,54,12.657395535,Not Hispanic Or Latino,679
...,...,...,...,...,...
TCGA-97-7546,Female,76,41.25982181,Not Hispanic Or Latino,252
TCGA-97-7547,Female,67,25.479172831,Not Hispanic Or Latino,158
TCGA-97-7552,Male,70,26.235328928,Not Hispanic Or Latino,35
TCGA-97-8174,Male,67,5.391721734600001,Not Hispanic Or Latino,158
TCGA-99-AA5R,Female,70,21.632639641999997,Not Hispanic Or Latino,54

In [29]:
mutaciones_bruto_lung = pd.read_csv("../data/LUNG_alterations_across_samples.tsv", sep='\t')
mutaciones_bruto_pancreas = pd.read_csv("../data/pancreas_alterations_across_samples.tsv", sep='\t')

In [30]:
mutaciones_bruto_lung.set_index('Patient ID', inplace=True)
mutaciones_bruto_pancreas.set_index('Patient ID', inplace=True)

In [31]:
mutaciones_bruto_lung = mutaciones_bruto_lung.iloc[:,2:]
mutaciones_bruto_pancreas = mutaciones_bruto_pancreas.iloc[:,2:]

In [32]:
mutaciones_bruto_lung = mutaciones_bruto_lung.replace(['no alteration', 'not profiled'],'0')
mutaciones_bruto_pancreas = mutaciones_bruto_pancreas.replace(['no alteration', 'not profiled'],'0')

In [33]:
mutaciones_bruto_lung1 = mutaciones_bruto_lung[mutaciones_bruto_lung.Altered != 0]
mutaciones_bruto_pancreas1 = mutaciones_bruto_pancreas[mutaciones_bruto_pancreas.Altered != 0]

In [34]:
mutaciones_bruto_lung1.drop(['Altered'], axis=1, inplace = True)
mutaciones_bruto_pancreas1.drop(['Altered'], axis=1, inplace = True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [35]:
mutaciones_bruto_lung1.replace('0', np.nan, inplace=True)
mutaciones_bruto_pancreas1.replace('0', np.nan, inplace=True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [36]:
code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
def sustituir(df, code):
    code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
    diccionario = {key:value for key, value in zip(mutaciones_bruto_lung1.columns, code)}
    diccionario
    for col in df.columns:
        df.loc[df[col].notnull(), col] = diccionario[col]
    return df  
sustituir(df= mutaciones_bruto_lung1, code = code)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,TP53,KRAS,KEAP1,EGFR,EGFR.1,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,KEAP1: MUT,EGFR: MUT,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,,,,,,
LU-A08-43,NaN,NaN,NaN,D,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN
LUAD-U6SJ7,NaN,B,C,NaN,NaN,F,NaN,NaN,NaN,NaN,K,L,NaN,N,NaN,NaN,NaN
LUAD-E01014,A,NaN,NaN,D,E,NaN,NaN,NaN,NaN,J,NaN,NaN,M,NaN,NaN,NaN,NaN
LUAD-S01404,NaN,B,C,NaN,NaN,NaN,NaN,NaN,I,NaN,K,L,NaN,NaN,NaN,NaN,Q
LUAD-S01381,NaN,NaN,C,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,L,NaN,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
luad_tsp_17766,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,NaN,NaN,NaN
luad_tsp_17776,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
luad_tsp_17777,A,B,NaN,NaN,NaN,NaN,NaN,NaN,I,J,K,NaN,NaN,NaN,NaN,NaN,Q
luad_tsp_17778,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
luad_tsp_17781,NaN,B,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,K,NaN,NaN,N,NaN,NaN,NaN

In [37]:
code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L')
def sustituir(df, code):
    code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
    diccionario = {key:value for key, value in zip(mutaciones_bruto_pancreas1.columns, code)}
    diccionario
    for col in df.columns:
        df.loc[df[col].notnull(), col] = diccionario[col]
    return df  
sustituir(df= mutaciones_bruto_pancreas1, code = code)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,
GARV_0658,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0659,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0660,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0661,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN
GARV_0662,A,B,C,NaN,E,NaN,G,H,I,NaN,K,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN
PDA_106,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN
PDA_107,A,B,NaN,NaN,NaN,F,G,H,NaN,NaN,NaN,L
PDA_108,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
PDA_109,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN

In [38]:
mutaciones_bruto_lung1.drop(mutaciones_bruto_lung.iloc[:,5:6], axis = 1, inplace = True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [39]:
mutaciones_lung_B = mutaciones_bruto_lung1.copy()
mutaciones_pancreas_B = mutaciones_bruto_pancreas1.copy()

In [40]:
mutaciones_lung_B[mutaciones_bruto_lung1.isnull()==False] = 1
mutaciones_pancreas_B[mutaciones_bruto_pancreas1.isnull()==False] = 1

In [41]:
mutaciones_lung_B = mutaciones_lung_B.fillna(-1)
mutaciones_pancreas_B = mutaciones_pancreas_B.fillna(-1)

In [42]:
Tipos_lung = mutaciones_bruto_lung1.apply(lambda x: ','.join(x.dropna()), axis=1)
Tipos_pancreas = mutaciones_bruto_pancreas1.apply(lambda x: ','.join(x.dropna()), axis=1)

In [43]:
mutaciones_bruto_lung1['Tipos'] = Tipos_lung
mutaciones_bruto_pancreas1['Tipos'] = Tipos_pancreas

C:\Users\MAUCRO\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\MAUCRO\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT,Tipos
Patient ID,,,,,,,,,,,,,
GARV_0658,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0659,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0660,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0661,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
GARV_0662,A,B,C,NaN,E,NaN,G,H,I,NaN,K,NaN,"A,B,C,E,G,H,I,K"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
PDA_106,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"
PDA_107,A,B,NaN,NaN,NaN,F,G,H,NaN,NaN,NaN,L,"A,B,F,G,H,L"
PDA_108,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
PDA_109,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"

In [44]:
mutaciones_bruto_lung1

,TP53,KRAS,KEAP1,EGFR,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,KEAP1: MUT,EGFR: MUT,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT,Tipos
Patient ID,,,,,,,,,,,,,,,,,
LU-A08-43,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,"D,M"
LUAD-U6SJ7,NaN,B,C,NaN,F,NaN,NaN,NaN,NaN,K,L,NaN,N,NaN,NaN,NaN,"B,C,F,K,L,N"
LUAD-E01014,A,NaN,NaN,D,NaN,NaN,NaN,NaN,J,NaN,NaN,M,NaN,NaN,NaN,NaN,"A,D,J,M"
LUAD-S01404,NaN,B,C,NaN,NaN,NaN,NaN,I,NaN,K,L,NaN,NaN,NaN,NaN,Q,"B,C,I,K,L,Q"
LUAD-S01381,NaN,NaN,C,NaN,F,NaN,NaN,NaN,NaN,NaN,L,NaN,N,NaN,NaN,NaN,"C,F,L,N"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
luad_tsp_17766,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,NaN,NaN,NaN,"B,K"
luad_tsp_17776,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,"F,N"
luad_tsp_17777,A,B,NaN,NaN,NaN,NaN,NaN,I,J,K,NaN,NaN,NaN,NaN,NaN,Q,"A,B,I,J,K,Q"
luad_tsp_17778,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,"F,N"
luad_tsp_17781,NaN,B,NaN,NaN,F,NaN,NaN,NaN,NaN,K,NaN,NaN,N,NaN,NaN,NaN,"B,F,K,N"

In [45]:
mutaciones_bruto_pancreas1

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT,Tipos
Patient ID,,,,,,,,,,,,,
GARV_0658,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0659,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0660,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0661,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
GARV_0662,A,B,C,NaN,E,NaN,G,H,I,NaN,K,NaN,"A,B,C,E,G,H,I,K"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
PDA_106,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"
PDA_107,A,B,NaN,NaN,NaN,F,G,H,NaN,NaN,NaN,L,"A,B,F,G,H,L"
PDA_108,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
PDA_109,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"

In [46]:
item_counts = mutaciones_bruto_lung1["Tipos"].value_counts()
print(item_counts)

A,J                    97
A,I,J,Q                71
A,D,J,M                54
B,K                    53
D,M                    49
                       ..
A,D,H,J,M,P             1
A,D,G,J,M,O             1
A,C,F,G,I,J,L,N,O,Q     1
B,F,H,K,N,P             1
B,C,F,G,I,K,L,N,O,Q     1
Name: Tipos, Length: 91, dtype: int64

In [47]:
item_counts = mutaciones_bruto_pancreas1["Tipos"].value_counts()
print(item_counts)

A,B,G,H                193
B,H                    118
A,B,C,G,H,I             65
A,B,D,G,H,J             56
B,C,H,I                 30
A,G                     20
A,B,C,D,G,H,I,J         20
A,B,F,G,H,L             13
A,B,E,G,H,K             12
B,D,H,J                  9
B,E,H,K                  7
A,B,D,E,G,H,J,K          6
A,B,D,F,G,H,J,L          5
A,D,G,J                  5
B,C,E,H,I,K              4
C,I                      4
B,C,D,H,I,J              4
A,B,C,E,G,H,I,K          4
B,F,H,L                  4
A,E,G,K                  3
A,B,C,D,F,G,H,I,J,L      3
C,E,I,K                  2
A,B,E,F,G,H,K,L          2
A,B,C,F,G,H,I,L          2
A,C,G,I                  2
A,D,E,G,J,K              1
E,K                      1
D,J                      1
F,L                      1
A,B,C,E,F,G,H,I,K,L      1
A,F,G,L                  1
B,C,E,F,H,I,K,L          1
A,C,D,G,I,J              1
B,C,F,H,I,L              1
B,D,E,H,J,K              1
Name: Tipos, dtype: int64

In [1]:
lung_NN = pd.merge(mutaciones_lung_B, pacientes_lung_clean, on=["track_name", "Patient ID"])

NameError: name 'pd' is not defined

In [ ]:
lung_sim = 
pancreas_NN = 
pancreas_sim =