# 03 - Deleting & handling missing values - Iris

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [12]:
iris = pd.read_csv('iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

### Step 3. Assign it to a variable called iris

### Step 4. Call the columns for the dataset as follows:
1. sepal_length (in cm)
2. sepal_width (in cm)
3. petal_length (in cm)
4. petal_width (in cm)
5. class

In [13]:
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [13]:
#Se pierde el dato que tomo como nombre de las columnas

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [14]:
iris.iloc[10:30,:] = None
iris
iris.loc[8:31]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
8,4.9,3.1,1.5,0.1,Iris-setosa
9,5.4,3.7,1.5,0.2,Iris-setosa
10,NaN,NaN,NaN,NaN,None
11,NaN,NaN,NaN,NaN,None
12,NaN,NaN,NaN,NaN,None
13,NaN,NaN,NaN,NaN,None
14,NaN,NaN,NaN,NaN,None
15,NaN,NaN,NaN,NaN,None
16,NaN,NaN,NaN,NaN,None
17,NaN,NaN,NaN,NaN,None
18,NaN,NaN,NaN,NaN,None
19,NaN,NaN,NaN,NaN,None
20,NaN,NaN,NaN,NaN,None
21,NaN,NaN,NaN,NaN,None
22,NaN,NaN,NaN,NaN,None
23,NaN,NaN,NaN,NaN,None
24,NaN,NaN,NaN,NaN,None
25,NaN,NaN,NaN,NaN,None
26,NaN,NaN,NaN,NaN,None
27,NaN,NaN,NaN,NaN,None
28,NaN,NaN,NaN,NaN,None
29,NaN,NaN,NaN,NaN,None
30,5.4,3.4,1.5,0.4,Iris-setosa
31,5.2,4.1,1.5,0.1,Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [15]:
iris.fillna(-1)

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,4.9,3.0,1.4,0.2,Iris-setosa
1,4.7,3.2,1.3,0.2,Iris-setosa
2,4.6,3.1,1.5,0.2,Iris-setosa
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
#No s'e por que el fill no hace nada

### Step 8. Now let's delete the column class

In [22]:
iris.drop('class', inplace=True, axis=1)

iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [16]:
iris.iloc[0:3,:] = None
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,NaN,NaN,NaN,NaN,None
1,NaN,NaN,NaN,NaN,None
2,NaN,NaN,NaN,NaN,None
3,5.0,3.6,1.4,0.2,Iris-setosa
4,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica
145,6.3,2.5,5.0,1.9,Iris-virginica
146,6.5,3.0,5.2,2.0,Iris-virginica
147,6.2,3.4,5.4,2.3,Iris-virginica
148,5.9,3.0,5.1,1.8,Iris-virginica

### Step 10.  Delete the rows that have NaN

In [26]:
iris.dropna() 
iris #tampoco se por que no funciona esto

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5.0,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
...,...,...,...,...
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 11. Reset the index so it begins with 0 again

In [27]:
iris.reset_index()

,index,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,0,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN
3,3,5.0,3.6,1.4,0.2
4,4,5.4,3.9,1.7,0.4
...,...,...,...,...,...
144,144,6.7,3.0,5.2,2.3
145,145,6.3,2.5,5.0,1.9
146,146,6.5,3.0,5.2,2.0
147,147,6.2,3.4,5.4,2.3
148,148,5.9,3.0,5.1,1.8