# 05 - Apply

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. This time you need to download a dataset from [Kaggle](https://www.kaggle.com/uciml/student-alcohol-consumption)

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv('student-mat.csv')
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [8]:
sliced = df.loc[['school', 'guardian']]
sliced

KeyError: "None of [Index(['school', 'guardian'], dtype='object')] are in the [index]"

In [13]:
df2 = df. filter(['school', 'guardian'])
df2

    school guardian
0       GP   mother
1       GP   father
2       GP   mother
3       GP   mother
4       GP   father
..     ...      ...
390     MS    other
391     MS   mother
392     MS    other
393     MS   mother
394     MS   father

[395 rows x 2 columns]

In [16]:
df2 = df.loc[:,'school':'guardian']
df2

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 5. Create a lambda function that will capitalize strings.

In [6]:
df = df.apply(lambda x: x.capitalize() for df.dtypes == string)

SyntaxError: invalid syntax (<ipython-input-6-3947198aa85f>, line 1)

In [7]:
df = df.apply(lambda column: column.capitalize() if column.dtyped == string)

SyntaxError: invalid syntax (<ipython-input-7-8cd9af81b824>, line 1)

### Step 6. Capitalize both Mjob and Fjob

### Step 7. Print the last elements of the data set.

In [8]:
df.tail(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [ ]:
#porque no estamos guardando copia?

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [16]:
legal_drinker = []
legal_drinker.append(df[df.select_dtypes(include=['boolean']).columns)

SyntaxError: invalid syntax (<ipython-input-16-51496dc99559>, line 2)

In [ ]:
legal_drinker = pd.DataFrame(legal_drinker)
#no me sale

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [10]:
df[df.select_dtypes(include=['number']).columns] *= 10
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,1800,U,GT3,A,400,400,at_home,teacher,...,400,300,400,100,100,300,600,500,600,600
1,GP,F,1700,U,GT3,T,100,100,at_home,other,...,500,300,300,100,100,300,400,500,500,600
2,GP,F,1500,U,LE3,T,100,100,at_home,other,...,400,300,200,200,300,300,1000,700,800,1000
3,GP,F,1500,U,GT3,T,400,200,health,services,...,300,200,200,100,100,500,200,1500,1400,1500
4,GP,F,1600,U,GT3,T,300,300,other,other,...,400,300,200,100,200,500,400,600,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,2000,U,LE3,A,200,200,services,services,...,500,500,400,400,500,400,1100,900,900,900
391,MS,M,1700,U,LE3,T,300,100,services,services,...,200,400,500,300,400,200,300,1400,1600,1600
392,MS,M,2100,R,GT3,T,100,100,other,other,...,500,500,300,300,300,300,300,1000,800,700
393,MS,M,1800,R,LE3,T,300,200,services,other,...,400,400,100,300,400,500,0,1100,1200,1000
394,MS,M,1900,U,LE3,T,100,100,other,at_home,...,300,200,300,300,300,500,500,800,900,900