In [1]:
import sys
import os
import pandas as pd
import numpy as np
from utils.mining_data_tb import mineria_pacientes_parcial

In [2]:
pacientes_lung = pd.read_csv("../data/LUNG_PATIENT_DATA.tsv", sep='\t')
pacientes_pancreas= pd.read_csv("../data/pancreas_PATIENT_DATA_oncoprint.tsv", sep='\t')

In [3]:
pacientes_pancreas_clean = mineria_pacientes_parcial(pacientes_pancreas)
pacientes_pancreas_clean

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-IB-7886,Male,80,4.0437913009,Not Hispanic Or Latino,41
TCGA-FB-AAPY,Male,71,34.81605681,Not Hispanic Or Latino,32
TCGA-HZ-7925,Male,66,11.966992142999999,Not Hispanic Or Latino,20
TCGA-IB-7889,Female,85,11.572475918,Not Hispanic Or Latino,38
TCGA-FB-AAPQ,Male,65,37.150277805,Not Hispanic Or Latino,36
...,...,...,...,...,...
TCGA-F2-7276,Male,64,7.1012920406,Not Hispanic Or Latino,0
TCGA-HZ-7923,Male,65,10.323174541,Not Hispanic Or Latino,0
TCGA-HZ-8519,Male,73,14.925863825999999,Not Hispanic Or Latino,0
TCGA-IB-AAUT,Male,65,9.4355130355,Not Hispanic Or Latino,0
TCGA-US-A77J,Female,81,18.673767959,Not Hispanic Or Latino,0

In [4]:
pacientes_lung_clean = mineria_pacientes_parcial(pacientes_lung)
pacientes_lung_clean

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-55-8094,Male,51,17.786106454000002,Not Hispanic Or Latino,395
TCGA-99-8033,Female,74,21.566886938000003,Not Hispanic Or Latino,168
TCGA-69-7978,Male,59,4.405431173399999,Not Hispanic Or Latino,546
TCGA-86-A4JF,Male,56,14.334089489,Not Hispanic Or Latino,1228
TCGA-44-8117,Female,54,12.657395535,Not Hispanic Or Latino,679
...,...,...,...,...,...
TCGA-97-7546,Female,76,41.25982181,Not Hispanic Or Latino,252
TCGA-97-7547,Female,67,25.479172831,Not Hispanic Or Latino,158
TCGA-97-7552,Male,70,26.235328928,Not Hispanic Or Latino,35
TCGA-97-8174,Male,67,5.391721734600001,Not Hispanic Or Latino,158
TCGA-99-AA5R,Female,70,21.632639641999997,Not Hispanic Or Latino,54

In [5]:
pacientes_lung_clean['Diagnosis Age'] = pd.to_numeric(pacientes_lung_clean['Diagnosis Age'])
pacientes_pancreas_clean['Diagnosis Age'] = pd.to_numeric(pacientes_pancreas_clean['Diagnosis Age'])
pacientes_lung_clean['Progress Free Survival (Months)'] = pd.to_numeric(pacientes_lung_clean['Progress Free Survival (Months)'])
pacientes_pancreas_clean['Progress Free Survival (Months)'] = pd.to_numeric(pacientes_pancreas_clean['Progress Free Survival (Months)'])
pacientes_lung_clean['Mutation Count'] = pd.to_numeric(pacientes_lung_clean['Mutation Count'])
pacientes_pancreas_clean['Mutation Count'] = pd.to_numeric(pacientes_pancreas_clean['Mutation Count'])

In [6]:
mutaciones_bruto_lung = pd.read_csv("../data/LUNG_alterations_across_samples.tsv", sep='\t')
mutaciones_bruto_pancreas = pd.read_csv("../data/pancreas_alterations_across_samples.tsv", sep='\t')

In [7]:
mutaciones_bruto_lung.set_index('Patient ID', inplace=True)
mutaciones_bruto_pancreas.set_index('Patient ID', inplace=True)

In [8]:
mutaciones_bruto_lung = mutaciones_bruto_lung.iloc[:,2:]
mutaciones_bruto_pancreas = mutaciones_bruto_pancreas.iloc[:,2:]

In [9]:
mutaciones_bruto_lung = mutaciones_bruto_lung.replace(['no alteration', 'not profiled'],'0')
mutaciones_bruto_pancreas = mutaciones_bruto_pancreas.replace(['no alteration', 'not profiled'],'0')

In [10]:
mutaciones_bruto_lung1 = mutaciones_bruto_lung[mutaciones_bruto_lung.Altered != 0]
mutaciones_bruto_pancreas1 = mutaciones_bruto_pancreas[mutaciones_bruto_pancreas.Altered != 0]

In [11]:
mutaciones_bruto_lung1.drop(['Altered'], axis=1, inplace = True)
mutaciones_bruto_pancreas1.drop(['Altered'], axis=1, inplace = True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
mutaciones_bruto_lung1.replace('0', np.nan, inplace=True)
mutaciones_bruto_pancreas1.replace('0', np.nan, inplace=True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [13]:
code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
def sustituir(df, code):
    code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
    diccionario = {key:value for key, value in zip(mutaciones_bruto_lung1.columns, code)}
    diccionario
    for col in df.columns:
        df.loc[df[col].notnull(), col] = diccionario[col]
    return df  
sustituir(df= mutaciones_bruto_lung1, code = code)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,TP53,KRAS,KEAP1,EGFR,EGFR.1,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,KEAP1: MUT,EGFR: MUT,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,,,,,,
LU-A08-43,NaN,NaN,NaN,D,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN
LUAD-U6SJ7,NaN,B,C,NaN,NaN,F,NaN,NaN,NaN,NaN,K,L,NaN,N,NaN,NaN,NaN
LUAD-E01014,A,NaN,NaN,D,E,NaN,NaN,NaN,NaN,J,NaN,NaN,M,NaN,NaN,NaN,NaN
LUAD-S01404,NaN,B,C,NaN,NaN,NaN,NaN,NaN,I,NaN,K,L,NaN,NaN,NaN,NaN,Q
LUAD-S01381,NaN,NaN,C,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,L,NaN,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
luad_tsp_17766,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,NaN,NaN,NaN
luad_tsp_17776,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
luad_tsp_17777,A,B,NaN,NaN,NaN,NaN,NaN,NaN,I,J,K,NaN,NaN,NaN,NaN,NaN,Q
luad_tsp_17778,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
luad_tsp_17781,NaN,B,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,K,NaN,NaN,N,NaN,NaN,NaN

In [14]:
code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L')
def sustituir(df, code):
    code = ('A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R')
    diccionario = {key:value for key, value in zip(mutaciones_bruto_pancreas1.columns, code)}
    diccionario
    for col in df.columns:
        df.loc[df[col].notnull(), col] = diccionario[col]
    return df  
sustituir(df= mutaciones_bruto_pancreas1, code = code)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,
GARV_0658,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0659,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0660,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
GARV_0661,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN
GARV_0662,A,B,C,NaN,E,NaN,G,H,I,NaN,K,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN
PDA_106,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN
PDA_107,A,B,NaN,NaN,NaN,F,G,H,NaN,NaN,NaN,L
PDA_108,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN
PDA_109,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN

In [15]:
mutaciones_bruto_lung1.drop(mutaciones_bruto_lung.iloc[:,5:6], axis = 1, inplace = True)

C:\Users\MAUCRO\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
mutaciones_lung_B = mutaciones_bruto_lung1.copy()
mutaciones_pancreas_B = mutaciones_bruto_pancreas1.copy()

In [17]:
mutaciones_lung_B[mutaciones_bruto_lung1.isnull()==False] = 1
mutaciones_pancreas_B[mutaciones_bruto_pancreas1.isnull()==False] = 1

In [18]:
mutaciones_lung_B = mutaciones_lung_B.fillna(-1)
mutaciones_pancreas_B = mutaciones_pancreas_B.fillna(-1)
mutaciones_lung_B

,TP53,KRAS,KEAP1,EGFR,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,KEAP1: MUT,EGFR: MUT,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,,,,,
LU-A08-43,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1
LUAD-U6SJ7,-1,1,1,-1,1,-1,-1,-1,-1,1,1,-1,1,-1,-1,-1
LUAD-E01014,1,-1,-1,1,-1,-1,-1,-1,1,-1,-1,1,-1,-1,-1,-1
LUAD-S01404,-1,1,1,-1,-1,-1,-1,1,-1,1,1,-1,-1,-1,-1,1
LUAD-S01381,-1,-1,1,-1,1,-1,-1,-1,-1,-1,1,-1,1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
luad_tsp_17766,-1,1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
luad_tsp_17776,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1
luad_tsp_17777,1,1,-1,-1,-1,-1,-1,1,1,1,-1,-1,-1,-1,-1,1
luad_tsp_17778,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1
luad_tsp_17781,-1,1,-1,-1,1,-1,-1,-1,-1,1,-1,-1,1,-1,-1,-1

In [19]:
mutaciones_lung_B.apply(pd.to_numeric)
mutaciones_pancreas_B.apply(pd.to_numeric)

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT
Patient ID,,,,,,,,,,,,
GARV_0658,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1
GARV_0659,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1
GARV_0660,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1
GARV_0661,1,1,-1,1,-1,-1,1,1,-1,1,-1,-1
GARV_0662,1,1,1,-1,1,-1,1,1,1,-1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,1,1,-1,1,-1,-1,1,1,-1,1,-1,-1
PDA_106,-1,1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1
PDA_107,1,1,-1,-1,-1,1,1,1,-1,-1,-1,1
PDA_108,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1
PDA_109,-1,1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1

In [20]:
dataTypeSeries = mutaciones_pancreas_B.dtypes
print(dataTypeSeries)

TP53           int64
KRAS           int64
SMAD4          int64
CDKN2A         int64
ARID1A         int64
LRP1B          int64
TP53: MUT      int64
KRAS: MUT      int64
SMAD4: MUT     int64
CDKN2A: MUT    int64
ARID1A: MUT    int64
LRP1B: MUT     int64
dtype: object

In [21]:
Tipos_lung = mutaciones_bruto_lung1.apply(lambda x: ','.join(x.dropna()), axis=1)
Tipos_pancreas = mutaciones_bruto_pancreas1.apply(lambda x: ','.join(x.dropna()), axis=1)

In [22]:
mutaciones_bruto_lung1['Tipos'] = Tipos_lung
mutaciones_bruto_pancreas1['Tipos'] = Tipos_pancreas
mutaciones_lung_B['Tipos'] = Tipos_lung
mutaciones_pancreas_B['Tipos'] = Tipos_pancreas

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
mutaciones_bruto_lung1

,TP53,KRAS,KEAP1,EGFR,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,KEAP1: MUT,EGFR: MUT,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT,Tipos
Patient ID,,,,,,,,,,,,,,,,,
LU-A08-43,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,"D,M"
LUAD-U6SJ7,NaN,B,C,NaN,F,NaN,NaN,NaN,NaN,K,L,NaN,N,NaN,NaN,NaN,"B,C,F,K,L,N"
LUAD-E01014,A,NaN,NaN,D,NaN,NaN,NaN,NaN,J,NaN,NaN,M,NaN,NaN,NaN,NaN,"A,D,J,M"
LUAD-S01404,NaN,B,C,NaN,NaN,NaN,NaN,I,NaN,K,L,NaN,NaN,NaN,NaN,Q,"B,C,I,K,L,Q"
LUAD-S01381,NaN,NaN,C,NaN,F,NaN,NaN,NaN,NaN,NaN,L,NaN,N,NaN,NaN,NaN,"C,F,L,N"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
luad_tsp_17766,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,NaN,NaN,NaN,"B,K"
luad_tsp_17776,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,"F,N"
luad_tsp_17777,A,B,NaN,NaN,NaN,NaN,NaN,I,J,K,NaN,NaN,NaN,NaN,NaN,Q,"A,B,I,J,K,Q"
luad_tsp_17778,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,"F,N"
luad_tsp_17781,NaN,B,NaN,NaN,F,NaN,NaN,NaN,NaN,K,NaN,NaN,N,NaN,NaN,NaN,"B,F,K,N"

In [24]:
mutaciones_bruto_pancreas1

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT,Tipos
Patient ID,,,,,,,,,,,,,
GARV_0658,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0659,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0660,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
GARV_0661,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
GARV_0662,A,B,C,NaN,E,NaN,G,H,I,NaN,K,NaN,"A,B,C,E,G,H,I,K"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
PDA_105,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J"
PDA_106,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"
PDA_107,A,B,NaN,NaN,NaN,F,G,H,NaN,NaN,NaN,L,"A,B,F,G,H,L"
PDA_108,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H"
PDA_109,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H"

In [25]:
item_counts = mutaciones_bruto_lung1["Tipos"].value_counts()
print(item_counts)

A,J                    97
A,I,J,Q                71
A,D,J,M                54
B,K                    53
D,M                    49
                       ..
C,F,I,L,N,Q             1
C,G,I,L,O,Q             1
B,C,H,I,K,L,P,Q         1
A,B,F,G,J,K,N,O         1
A,C,F,G,I,J,L,N,O,Q     1
Name: Tipos, Length: 91, dtype: int64

In [26]:
item_counts = mutaciones_bruto_pancreas1["Tipos"].value_counts()
print(item_counts)

A,B,G,H                193
B,H                    118
A,B,C,G,H,I             65
A,B,D,G,H,J             56
B,C,H,I                 30
A,G                     20
A,B,C,D,G,H,I,J         20
A,B,F,G,H,L             13
A,B,E,G,H,K             12
B,D,H,J                  9
B,E,H,K                  7
A,B,D,E,G,H,J,K          6
A,B,D,F,G,H,J,L          5
A,D,G,J                  5
B,C,E,H,I,K              4
A,B,C,E,G,H,I,K          4
B,C,D,H,I,J              4
B,F,H,L                  4
C,I                      4
A,E,G,K                  3
A,B,C,D,F,G,H,I,J,L      3
C,E,I,K                  2
A,C,G,I                  2
A,B,C,F,G,H,I,L          2
A,B,E,F,G,H,K,L          2
D,J                      1
B,D,E,H,J,K              1
E,K                      1
A,C,D,G,I,J              1
A,B,C,E,F,G,H,I,K,L      1
B,C,F,H,I,L              1
A,D,E,G,J,K              1
F,L                      1
A,F,G,L                  1
B,C,E,F,H,I,K,L          1
Name: Tipos, dtype: int64

In [27]:
mutaciones_lung_B.index.name = pacientes_lung_clean.index.name = 'patient'
lung_simm = mutaciones_lung_B.merge(pacientes_lung_clean, on=list(set(mutaciones_lung_B).intersection(set(pacientes_lung_clean)) | {'patient'}))

In [28]:
lung_simm

,TP53,KRAS,KEAP1,EGFR,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,...,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT,Tipos,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
patient,,,,,,,,,,,,,,,,,,,,,
LUAD-E01014,1,-1,-1,1,-1,-1,-1,-1,1,-1,...,-1,-1,-1,-1,"A,D,J,M",Female,60,4.030000,European,166
LUAD-S01404,-1,1,1,-1,-1,-1,-1,1,-1,1,...,-1,-1,-1,1,"B,C,I,K,L,Q",Male,55,10.000000,European,201
LUAD-S01381,-1,-1,1,-1,1,-1,-1,-1,-1,-1,...,1,-1,-1,-1,"C,F,L,N",Male,61,0.000000,European,209
LUAD-S01331,1,1,-1,-1,1,1,-1,1,1,1,...,1,1,-1,1,"A,B,F,G,I,J,K,N,O,Q",Male,72,13.000000,European,253
LUAD-S01467,1,1,-1,-1,-1,-1,1,1,1,1,...,-1,-1,1,1,"A,B,H,I,J,K,P,Q",Male,60,9.000000,European,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-NJ-A4YQ,-1,-1,1,-1,-1,-1,1,1,-1,-1,...,-1,-1,1,1,"C,H,I,L,P,Q",Female,69,47.078936,Not Hispanic Or Latino,998
TCGA-NJ-A55A,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,1,"I,Q",Female,76,0.493145,Not Hispanic Or Latino,99
TCGA-NJ-A55O,-1,1,-1,-1,1,-1,-1,-1,-1,1,...,1,-1,-1,-1,"B,F,K,N",Female,56,0.427393,Not Hispanic Or Latino,124
TCGA-NJ-A55R,-1,1,1,-1,1,-1,-1,-1,-1,1,...,1,-1,-1,-1,"B,C,F,K,L,N",Male,67,19.824440,Not Hispanic Or Latino,232
TCGA-O1-A52J,1,-1,-1,-1,-1,-1,-1,1,1,-1,...,-1,-1,-1,1,"A,I,J,Q",Female,74,29.522964,Not Hispanic Or Latino,153

In [29]:
mutaciones_pancreas_B.index.name = pacientes_pancreas_clean.index.name = 'patient'
pancreas_simm = mutaciones_pancreas_B.merge(pacientes_pancreas_clean, on=list(set(mutaciones_pancreas_B).intersection(set(pacientes_pancreas_clean)) | {'patient'}))

In [30]:
pancreas_simm

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT,Tipos,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
patient,,,,,,,,,,,,,,,,,,
TCGA-3A-A9I7,-1,1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,"B,H",Male,45,43.035145,Not Hispanic Or Latino,13
TCGA-3A-A9I9,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,"A,B,G,H",Male,67,16.865569,Not Hispanic Or Latino,94
TCGA-3A-A9IB,1,1,-1,1,-1,-1,1,1,-1,1,-1,-1,"A,B,D,G,H,J",Female,69,7.364303,Not Hispanic Or Latino,33
TCGA-3A-A9IC,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,"A,B,G,H",Female,61,24.262748,Not Hispanic Or Latino,31
TCGA-3A-A9IH,1,1,1,1,-1,-1,1,1,1,1,-1,-1,"A,B,C,D,G,H,I,J",Female,66,25.084657,Not Hispanic Or Latino,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-XN-A8T3,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,"A,B,G,H",Male,67,31.265411,Hispanic Or Latino,45
TCGA-YB-A89D,-1,1,1,1,-1,-1,-1,1,1,1,-1,-1,"B,C,D,H,I,J",Male,59,11.506723,Not Hispanic Or Latino,31
TCGA-YH-A8SY,1,1,-1,-1,-1,-1,1,1,-1,-1,-1,-1,"A,B,G,H",Female,73,12.756025,Not Hispanic Or Latino,45
TCGA-YY-A8LH,-1,1,-1,-1,1,-1,-1,1,-1,-1,1,-1,"B,E,H,K",Female,61,66.278726,Not Hispanic Or Latino,58
TCGA-Z5-AAPL,1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,"A,G",Female,74,15.353256,Not Hispanic Or Latino,7

In [31]:
mutaciones_bruto_pancreas1.index.name = pacientes_pancreas_clean.index.name = 'patient'
pancreas_nn = mutaciones_bruto_pancreas1.merge(pacientes_pancreas_clean, on=list(set(mutaciones_bruto_pancreas1).intersection(set(pacientes_pancreas_clean)) | {'patient'}))

In [32]:
mutaciones_bruto_lung1.index.name = pacientes_lung_clean.index.name = 'patient'
lung_nn = mutaciones_bruto_lung1.merge(pacientes_lung_clean, on=list(set(mutaciones_bruto_lung1).intersection(set(pacientes_lung_clean)) | {'patient'}))

In [33]:
lung_nn

,TP53,KRAS,KEAP1,EGFR,STK11,ATM,SMARCA4,LRP1B,TP53: MUT,KRAS: MUT,...,STK11: MUT,ATM: MUT,SMARCA4: MUT,LRP1B: MUT,Tipos,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
patient,,,,,,,,,,,,,,,,,,,,,
LUAD-E01014,A,NaN,NaN,D,NaN,NaN,NaN,NaN,J,NaN,...,NaN,NaN,NaN,NaN,"A,D,J,M",Female,60,4.030000,European,166
LUAD-S01404,NaN,B,C,NaN,NaN,NaN,NaN,I,NaN,K,...,NaN,NaN,NaN,Q,"B,C,I,K,L,Q",Male,55,10.000000,European,201
LUAD-S01381,NaN,NaN,C,NaN,F,NaN,NaN,NaN,NaN,NaN,...,N,NaN,NaN,NaN,"C,F,L,N",Male,61,0.000000,European,209
LUAD-S01331,A,B,NaN,NaN,F,G,NaN,I,J,K,...,N,O,NaN,Q,"A,B,F,G,I,J,K,N,O,Q",Male,72,13.000000,European,253
LUAD-S01467,A,B,NaN,NaN,NaN,NaN,H,I,J,K,...,NaN,NaN,P,Q,"A,B,H,I,J,K,P,Q",Male,60,9.000000,European,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-NJ-A4YQ,NaN,NaN,C,NaN,NaN,NaN,H,I,NaN,NaN,...,NaN,NaN,P,Q,"C,H,I,L,P,Q",Female,69,47.078936,Not Hispanic Or Latino,998
TCGA-NJ-A55A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,NaN,NaN,...,NaN,NaN,NaN,Q,"I,Q",Female,76,0.493145,Not Hispanic Or Latino,99
TCGA-NJ-A55O,NaN,B,NaN,NaN,F,NaN,NaN,NaN,NaN,K,...,N,NaN,NaN,NaN,"B,F,K,N",Female,56,0.427393,Not Hispanic Or Latino,124
TCGA-NJ-A55R,NaN,B,C,NaN,F,NaN,NaN,NaN,NaN,K,...,N,NaN,NaN,NaN,"B,C,F,K,L,N",Male,67,19.824440,Not Hispanic Or Latino,232
TCGA-O1-A52J,A,NaN,NaN,NaN,NaN,NaN,NaN,I,J,NaN,...,NaN,NaN,NaN,Q,"A,I,J,Q",Female,74,29.522964,Not Hispanic Or Latino,153

In [34]:
pancreas_nn

,TP53,KRAS,SMAD4,CDKN2A,ARID1A,LRP1B,TP53: MUT,KRAS: MUT,SMAD4: MUT,CDKN2A: MUT,ARID1A: MUT,LRP1B: MUT,Tipos,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
patient,,,,,,,,,,,,,,,,,,
TCGA-3A-A9I7,NaN,B,NaN,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,NaN,"B,H",Male,45,43.035145,Not Hispanic Or Latino,13
TCGA-3A-A9I9,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H",Male,67,16.865569,Not Hispanic Or Latino,94
TCGA-3A-A9IB,A,B,NaN,D,NaN,NaN,G,H,NaN,J,NaN,NaN,"A,B,D,G,H,J",Female,69,7.364303,Not Hispanic Or Latino,33
TCGA-3A-A9IC,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H",Female,61,24.262748,Not Hispanic Or Latino,31
TCGA-3A-A9IH,A,B,C,D,NaN,NaN,G,H,I,J,NaN,NaN,"A,B,C,D,G,H,I,J",Female,66,25.084657,Not Hispanic Or Latino,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-XN-A8T3,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H",Male,67,31.265411,Hispanic Or Latino,45
TCGA-YB-A89D,NaN,B,C,D,NaN,NaN,NaN,H,I,J,NaN,NaN,"B,C,D,H,I,J",Male,59,11.506723,Not Hispanic Or Latino,31
TCGA-YH-A8SY,A,B,NaN,NaN,NaN,NaN,G,H,NaN,NaN,NaN,NaN,"A,B,G,H",Female,73,12.756025,Not Hispanic Or Latino,45
TCGA-YY-A8LH,NaN,B,NaN,NaN,E,NaN,NaN,H,NaN,NaN,K,NaN,"B,E,H,K",Female,61,66.278726,Not Hispanic Or Latino,58
TCGA-Z5-AAPL,A,NaN,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN,"A,G",Female,74,15.353256,Not Hispanic Or Latino,7

In [35]:
dataTypeSeries = pancreas_nn.dtypes
print(dataTypeSeries)

TP53                                object
KRAS                                object
SMAD4                               object
CDKN2A                              object
ARID1A                              object
LRP1B                               object
TP53: MUT                           object
KRAS: MUT                           object
SMAD4: MUT                          object
CDKN2A: MUT                         object
ARID1A: MUT                         object
LRP1B: MUT                          object
Tipos                               object
Sex                                 object
Diagnosis Age                        int64
Progress Free Survival (Months)    float64
Ethnicity Category                  object
Mutation Count                       int64
dtype: object

In [36]:
dataTypeSeries = lung_nn.dtypes
print(dataTypeSeries)

TP53                                object
KRAS                                object
KEAP1                               object
EGFR                                object
STK11                               object
ATM                                 object
SMARCA4                             object
LRP1B                               object
TP53: MUT                           object
KRAS: MUT                           object
KEAP1: MUT                          object
EGFR: MUT                           object
STK11: MUT                          object
ATM: MUT                            object
SMARCA4: MUT                        object
LRP1B: MUT                          object
Tipos                               object
Sex                                 object
Diagnosis Age                        int64
Progress Free Survival (Months)    float64
Ethnicity Category                  object
Mutation Count                       int64
dtype: object

In [37]:
dataTypeSeries = pancreas_simm.dtypes
print(dataTypeSeries)

TP53                                 int64
KRAS                                 int64
SMAD4                                int64
CDKN2A                               int64
ARID1A                               int64
LRP1B                                int64
TP53: MUT                            int64
KRAS: MUT                            int64
SMAD4: MUT                           int64
CDKN2A: MUT                          int64
ARID1A: MUT                          int64
LRP1B: MUT                           int64
Tipos                               object
Sex                                 object
Diagnosis Age                        int64
Progress Free Survival (Months)    float64
Ethnicity Category                  object
Mutation Count                       int64
dtype: object

In [38]:
dataTypeSeries = lung_simm.dtypes
print(dataTypeSeries)

TP53                                 int64
KRAS                                 int64
KEAP1                                int64
EGFR                                 int64
STK11                                int64
ATM                                  int64
SMARCA4                              int64
LRP1B                                int64
TP53: MUT                            int64
KRAS: MUT                            int64
KEAP1: MUT                           int64
EGFR: MUT                            int64
STK11: MUT                           int64
ATM: MUT                             int64
SMARCA4: MUT                         int64
LRP1B: MUT                           int64
Tipos                               object
Sex                                 object
Diagnosis Age                        int64
Progress Free Survival (Months)    float64
Ethnicity Category                  object
Mutation Count                       int64
dtype: object

In [39]:
#lung_nn['Progress Free Survival (Months)'] = pd.to_numeric(lung_nn['Progress Free Survival (Months)'])
#pancreas_nn['Progress Free Survival (Months)'] = pd.to_numeric(pancreas_nn['Progress Free Survival (Months)'])

In [40]:
#lung_nn['Diagnosis Age'] = pd.to_numeric(lung_nn['Diagnosis Age'])
#pancreas_nn['Diagnosis Age'] = pd.to_numeric(pancreas_nn['Diagnosis Age'])

In [41]:
#lung_nn['Mutation Count'] = pd.to_numeric(lung_nn['Mutation Count'])
#pancreas_nn['Mutation Count'] = pd.to_numeric(pancreas_nn['Mutation Count'])

In [42]:
pancreas_nn.to_csv(r'D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\EDA\documentation\pancreas_nn.csv', index = True)

In [43]:
lung_nn.to_csv(r'D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\EDA\documentation\lung_nn.csv', index = True)

In [44]:
pancreas_simm.to_csv(r'D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\EDA\documentation\pancreas_simm.csv', index = True)

In [45]:
lung_simm.to_csv(r'D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\EDA\documentation\lung_simm.csv', index = True)