In [1]:
import sys
sys.path.append('D:\\MAURO\CURSOS\\Master_The_Bridge\\Bridge_Python\\MGOL_BOOTCAMP\\proyecto2\\EDA\\src\\utils')
import pandas as pd
import numpy as np
import mining_data_tb as md

In [2]:
pacientes_lung=  md.mineria_pacientes(tpv = "D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\proyecto2\EDA\data\LUNG_PATIENT_DATA.tsv")
pacientes_lung

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-55-8094,Male,51,17.786106454000002,Not Hispanic Or Latino,395
TCGA-99-8033,Female,74,21.566886938000003,Not Hispanic Or Latino,168
TCGA-69-7978,Male,59,4.405431173399999,Not Hispanic Or Latino,546
TCGA-86-A4JF,Male,56,14.334089489,Not Hispanic Or Latino,1228
TCGA-44-8117,Female,54,12.657395535,Not Hispanic Or Latino,679
...,...,...,...,...,...
TCGA-97-7546,Female,76,41.25982181,Not Hispanic Or Latino,252
TCGA-97-7547,Female,67,25.479172831,Not Hispanic Or Latino,158
TCGA-97-7552,Male,70,26.235328928,Not Hispanic Or Latino,35
TCGA-97-8174,Male,67,5.391721734600001,Not Hispanic Or Latino,158
TCGA-99-AA5R,Female,70,21.632639641999997,Not Hispanic Or Latino,54

In [2]:
pacientes_pancreas=  md.mineria_pacientes(tpv = "D:\MAURO\CURSOS\Master_The_Bridge\Bridge_Python\MGOL_BOOTCAMP\proyecto2\EDA\data\pancreas\pancreas_PATIENT_DATA_oncoprint.tsv")
pacientes_pancreas

track_name,Sex,Diagnosis Age,Progress Free Survival (Months),Ethnicity Category,Mutation Count
TCGA-IB-7886,Male,80,4.0437913009,Not Hispanic Or Latino,41
TCGA-FB-AAPY,Male,71,34.81605681,Not Hispanic Or Latino,32
TCGA-HZ-7925,Male,66,11.966992142999999,Not Hispanic Or Latino,20
TCGA-IB-7889,Female,85,11.572475918,Not Hispanic Or Latino,38
TCGA-FB-AAPQ,Male,65,37.150277805,Not Hispanic Or Latino,36
...,...,...,...,...,...
TCGA-F2-7276,Male,64,7.1012920406,Not Hispanic Or Latino,0
TCGA-HZ-7923,Male,65,10.323174541,Not Hispanic Or Latino,0
TCGA-HZ-8519,Male,73,14.925863825999999,Not Hispanic Or Latino,0
TCGA-IB-AAUT,Male,65,9.4355130355,Not Hispanic Or Latino,0
TCGA-US-A77J,Female,81,18.673767959,Not Hispanic Or Latino,0